@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap');

:root {
  --primary-color: #DD7555;
  --secondary-color: #EEAC54;
  --accent1-color: #542259;
  --accent2-color: #F4C5B7;
}

#content {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: white;
  display: grid;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif; 
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.logo {
  width: 400px;
  padding-top: 25px;
}

#logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

nav a {
  text-align: center;
  color: #542259;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  color: #DD7555;
}

#index {
  grid-column: 2/3;
}

#styles {
  grid-column: 3/4;
}

#rules {
  grid-column: 4/5;
}

#contactus {
  grid-column: 5/6;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/1;
 }

#hero-img {
  width: 100%;
}

#hero-msg {
  grid-column: 1/2;
  grid-row: 1/1;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  max-height: 400px;
}

.home-title {
  text-align: left;
  color: #542259;
  font-family: "Playfair Display";
}

#hero-msg p {
  text-align: left;
  font-size: 90%;
  font-weight: bolder;
  padding-right: 100px;
  line-height: 150%;
}

#home-container {
  width: 100%;
  padding: 60px;
  background-color: #EEAC54;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 45px;
  justify-content: center;
}

.home-style-img, .home-rules-img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.style-link-box, .rules-link-box {
  grid-column: 1/2;
  background-color: #DD7555;
  margin-top: 0px;
  padding: 20px;
  text-align: center;
}

.style-link, .rules-link {
  text-decoration: none;
  color: white;
}

#home-container h4 {
  font-family: "Playfair Display";
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px;
  font-size: larger;
  background-color: #542259;
}

#home-container p {
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px;
}

#contact-section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#contact-box {
  grid-column: 1/4;
  grid-row: 1/2;
 }

#contact-msg {
  grid-column: 2/3;
  grid-row: 1/2;
}

.contact-title {
  text-align: center;
  color: #542259;
  font-family: "Playfair Display";
}

#contact-msg h4 {
  text-align: center;
  font-weight: bolder;
  margin-top: -5px;
}

#contact-img {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
}


.button-box {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.contact {
  background-color: #542259;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.contact:hover {
  background-color: white;
  color: #542259;
}

.style-link:hover, .rules-link:hover {
  color: #F4C5B7;
}

footer {
  background-color: #DD7555;
  color: white;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: .8em;
}

footer p a:hover {
  text-decoration: underline;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #542259;
}

footer .social img {
  padding-top: 15px;
}

#header-bkgd {
  background-color: #DD7555;
  color: white;
  padding: 25px 50px;
}

#header-bkgd h2 {
  font-family: "Playfair Display";
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

#header-bkgd p {
  text-align: center;
  font-size: smaller;
  margin-bottom: 10px;
  margin-top: 0;
}

#styles-container {
  width: 100%;
  padding: 60px;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 45px;
  justify-content: center;
}

.farmhouse-img, .modern-img, .coastal-img, .industrial-img, .boho-img, .eclectic-img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#styles-container h2 {
  font-family: "Playfair Display";
  color: #542259;
  font-size: 1.25em;
  margin-top: 3px;
  margin-bottom: 5px;
}

#styles-container p {
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 0;
}

#rules-container {
  width: 100%;
  padding: 60px;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 45px;
  justify-content: center;
}

#rules-container h2 {
  font-family: "Playfair Display";
  color: #542259;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 5px;
}

#rules-container p {
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 0;
}

.rules-item-1 {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  grid-column: 1/2;
  grid-row: 1/4;
}

.rules-item-8 {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  grid-column: 2/3;
  grid-row: 4/7;
}

#follow-bkgd {
  background-color: #EEAC54;
  color: white;
  padding: 25px 50px;
  margin-bottom: 10px;
}

#follow-bkgd h2 {
  font-family: "Playfair Display";
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 15px;
}


.follow {
  background-color: #542259;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.follow:hover {
  background-color: white;
  color: #542259;
}

/*component assignment added*/
* {box-sizing: border-box;}

h3 {
  font-family: "Playfair Display";
  color: #542259;
  font-size: 1.5em;
  margin-bottom: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
  background-color: #542259;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #DD7555;
}

.container {
  border-radius: 5px;
  background-color: #F4C5B7;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 150px;
  margin-bottom: 10px;
}